<div class="banner">
  <div class="banner-text">
    <%= image_tag "logo.png", id:"logo" %>
    <h1 id="header">Au coeur de l'intelligence collective.</h1>
  </div>
</div>
<div class="container">
  <div id="video">
    <iframe class="iframe border radius" src="https://www.youtube.com/embed/hVmzj3Ss9Qo" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
    picture-in-picture" allowfullscreen></iframe>
  </div>


  <h1 class="border-bottom title-section">L'équipe</h1>

  <div class="wrapper">
    <% @workers.each do |worker| %>
      <% if worker.photo.attached? %>
        <div class="avatar-worker" style="background-image: url('<%= cl_image_path worker.photo.key %>')">
          <div class="avatar-infos">
            <%= worker.name %><br><%= worker.job %>
          </div>
        </div>

      <% else %>
        <div class="avatar-worker" style="background-image: url('<%= image_path 'default.png' %>')">
          <div class="avatar-infos">
            <p><strong><%= worker.name %></strong></p>
            <p><%= worker.job %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h1 class="border-bottom title-section">Nos clients</h1>
  <div class="cards-wrap center-element">
    <% @clients.each do |client| %>
    <div class="client-icon">
      <%= photo(client) %>
    </div>
    <% end %>
  </div>
  <h1 class="border-bottom title-section">Nos Articles</h1>
  <div class="cards center-element my-3" id="cards-article-home">
    <% @last_articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="card-gnl card-home card-20 card-article-home">
        <%= photo(article) %>
        <%= article.title %>
      </div>
    <% end %>
    <% end %>
  </div>
  <h1 class="border-bottom title-section">Contactez-nous</h1>
  <%= render 'form' %>

  <div class="terms"><%= Term.first.content %></div>
</div>

