
<div class="container d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center w-100">
    <h1>Membres de Résonances</h1>
    <%= link_to new_worker_path do %>
      <div class="btn-primary mx-2">
        <i class="fa-solid fa-user-plus"></i>
      </div>
    <% end %>
  </div>
  <% @workers.each do |worker| %>
    <div class="d-flex align-items-center justify-content-between my-2">
      <div class="d-flex align-items-center">
        <div class="avatar mx-2">
          <%= avatar(worker) %>
        </div>
        <%= worker.name %>
        <%= link_to edit_worker_path(worker) do %>
          <i class="fa-solid fa-pen-to-square mx-2 edit-destroy-links "></i>
        <% end %>
        <%= link_to worker_path(worker), data: {turbo_method: :delete} do %>
          <i class="fa-solid fa-trash edit-destroy-links"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>