<!DOCTYPE html>
<html>
  <head>
    <title>Resonances</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="Resonances">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Resonances" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="logo.jpg" />
    <meta property="og:description" content="Resonances, au coeur de l'intelligence collective" />
    <meta property="og:site_name" content="Resonances" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
